/*自己附加的*/
.LoginBox{
    background: rgb(255, 255, 255);
    margin: -100px auto auto;
    border: 1px solid rgb(231, 231, 231); 
    border-image: none; 
    width: 400px; 
    height: 300px; 
    text-align: center;
  }
  
  .Relative{
    position: relative;
  }
  
  .Padding1{
    padding: 30px 0px 20px;
    position: relative;
  }
  .P2{
    text-align:left; 
    margin-left:32px; 
    margin-top:30px;
    position: relative;
  }
  
  .D2{
    height: 50px;
    line-height: 50px; 
    margin-top: 20px; 
    border-top-color:rgb(231, 231, 231); 
    border-top-width: 1px; 
    border-top-style: solid;
  }
  
  .M2{
    margin: 0px 35px 20px 45px;
  }
  
  body {
    background: #ebebeb;
    color: #222;
    font-size: 9pt;
    font-family: Helvetica Neue,Hiragino Sans GB,Microsoft YaHei,\\9ED1\4F53,Arial,sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .top_div {
    width: 100%;
    height: 300px;
    background: #222d32; /* 紫色#605ca8 */
    text-align: center;
  }
  
  #LoginTopLine {
    top: 110px;
    font-size: 30px;
  }
  
  #LoginBotoomLine, #LoginTopLine {
    position: absolute;
    width: 100%;
    color: #fff;
    font-weight: 700;
  }
  
  #LoginBotoomLine {
    top: 155px;
    font-size: 15px;
  }
  
  .ipt {
    padding: 10px;
    padding-left: 35px;
    width: 290px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
    .ipt:focus {
        outline: 0;
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
  
  .u_logo {
    composes: fa fa-user from 'font-awesome/css/font-awesome.min.css';
    position: absolute;
    top: 42px;
    left: 45px;
    font-size: initial;

  }
  
  
  .p_logo {
    composes: fa fa-key from 'font-awesome/css/font-awesome.min.css';
    position: absolute;
    left: 45px;
    top: 9pt;
    font-size: initial;
  }
  
  .s_logo {    
    composes: fa fa-expeditedssl from 'font-awesome/css/font-awesome.min.css';
    position: absolute;
    top: 9pt;
    left: 10px;
    font-size: initial;
  }
  
  a {
    text-decoration: none;
  }
  #local {
    float: right;
    margin-right: 33px;
    height: 23px;
    line-height: 23px;
  }
  
  .field-validation-error {
    color: red;
  }